/transient/
*elpa/*
/var/auto-save/sessions/11268-artixdesk~
/var/auto-save/sessions/1243-artixdesk~
/var/auto-save/*.org#
/var/auto-save/sessions/1250-artixdesk~
/var/auto-save/sessions/1259-artixdesk~
/var/anaconda-mode/
